<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SafariLaunch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EB8B4C391CFC44B900F72EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB8B4C4F1CFC44B900F72EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB8B4C5A1CFC44B900F72EF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
